body {
  margin: 0;
  padding: 0;

  #root {
    height: 100vh;
  }

  .logo {
    text-decoration: none;
  }

  .custom-input-number {
    input {
      text-align: center;
    }

    .rs-input-number-btn-group-vertical {
      display: none;
    }
  }

  @media screen and (max-width: 1300px) {
    .app-content {
      padding: 0 25px;
    }
    .app-menu {
      width: 55px;

      .app-menu-text {
        line-height: 5px;
      }
    }
  }
}
